<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Como Funciona?</h2>
                <hr class="light">
                <p class="text-faded">Un Game Jam es una competencia de desarroyo de juegos. Diferentes equipos compiten para crear el mejor juego posible en un tiempo extremadamente limitado<br>Una vez selecionada la tematica del Jam. Los participantes tendran un tiempo determinado para idear, diseñar y ejecutar el desarroyo de un juego original.<br>Una vez hecho, el juego tendra que ser publicado antes de la fecha limite</p>
                <a href="https://itch.io/jam/argenjam" class="btn btn-default btn-xl">Participar!</a>
            </div>
        </div>
    </div>
</section>
