<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contactanos!</h2>
                <hr class="primary">
                <p>queres participar en la competencia o tenes alguna pregunta? Contactanos directamente, su consulta no molesta.</p>
            </div>
        <div class="col-lg-1 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                <i class="fab fa-twitter-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
               <!-- <p>{{ site.twitter_username }}</p> -->
            </a>
        </div>
        <div class="col-lg-1 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}" target="_blank">
            <i class="fas fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>{{ site.email }}</p> -->
            </a>
        </div>
        <div class="col-lg-1 col-lg-offset-1 text-center">
            <a href="https://discord.gg/xuXSh84" target="_blank">
            <i class="fab fa-discord fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <!-- <p>{{ site.discord_channel }}</p> -->
            </a>
        </div>
        <div class="col-lg-1 col-lg-offset-1 text-center">
            <a href="{{ site.facebook_page_url }}" target="_blank">
            <i class="fab fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <!-- <p>{{ site.facebook_page_url }}</p> -->
            </a>
        </div>
    </div>
    <div class="footer">
        <p class="text-center"><br><br>Copyright © ArgenJam 2020 Cesar Goz</p>
    </div>
    
</section>
